html,
body,
#render-container,
#render-provider,
.render-container,
.render-provider {
  height: 100%;
}

.containerHome {
  margin: 0.5rem auto;
  width: 90%;
}

.containerBlock {
  width: 90%;
  margin: 0 auto;
}

.container {
  margin: 0.25rem auto;
  width: 70%;
}

.styleTable {
  width: 95%;
  margin: 0 auto;
  border-style: ridge;
  padding: .5rem;
}

.styledModal {
  margin: 0 auto;
  padding: 1rem;
  min-width: 46rem;
  max-width: 46rem;
  min-height: 20rem;
  overflow-y: auto;
  background-color: rgb(239, 238, 238);
  align-items: center;
  justify-content: center;
}

.picker {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
  height: 10rem;
}

.containerPicker {
  margin: 1rem auto;
  width: 60%;
}

.containerButton {
  display: flex;
  margin: 1rem auto;
  width: max-content;
  justify-content: center;
}

.containerButtons {
  margin: 0 auto;
  display: flex;
  height: 7rem;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}